

.f-container{
    background-color: #F7FAFC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 100px 20px;
    font-size: 15px;
}

.f-boldText{
    color: #44383A;
}

.f-gText{
    color: #A8B0C6;
}

.f-footerBar{
    width: 100%;
    text-align: center;
    background-color: #E2E7F1;
    padding: 10px 0px;
    margin-bottom: 10px;
}



@media only screen and (max-width: 720px) {
  .f-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .f-card{
    width: 50%;
    margin-top: 10px;
    text-align: center;
  }
}